version: 2

.openssh_job: &opensshjob
  docker:
    - image: ${IMAGE}
  steps:
    - checkout
    - run:
        name: Set up SSH environment
        command: |
          mkdir -p -m 0755 /var/empty
          groupadd sshd
          useradd -g sshd -c 'sshd privsep' -d /var/empty -s /bin/false sshd
    - run:
        name: Clone OpenSSL
        command: cd integration/oqs_openssh && scripts/clone_openssl.sh
    - run:
        name: Build OpenSSL
        command: cd integration/oqs_openssh && scripts/build_openssl.sh
    - run:
        name: Clone liboqs
        command: cd integration/oqs_openssh && scripts/clone_liboqs.sh
    - run:
        name: Build liboqs
        command: source ~/.bashrc && cd integration/oqs_openssh && scripts/build_liboqs.sh
    - run:
        name: Clone OpenSSH
        command: cd integration/oqs_openssh && scripts/clone_openssh.sh
    - run:
        name: Build OpenSSH
        command: cd integration/oqs_openssh && scripts/build_openssh.sh
    - run:
        name: Run unit tests
        command: cd integration/oqs_openssh && python3 -m nose --rednose --verbose

.openssl_job: &openssljob
  docker:
    - image: ${IMAGE}
  steps:
    - checkout
    - setup_remote_docker
    - run:
        name: Check env vars
        command: if [[ -z "${DOCKER_LOGIN}" ]]; then echo "$DOCKER_LOGIN not set. Exiting."; exit -1; else echo "Env check OK."; fi
    - run:
        name: Set up SSH environment
        command: |
          mkdir -p -m 0755 /var/empty
          groupadd sshd
          useradd -g sshd -c 'sshd privsep' -d /var/empty -s /bin/false sshd
    - run:
        name: Clone liboqs
        command: cd integration/oqs_openssl && scripts/clone_liboqs.sh
    - run:
        name: Clone OpenSSL
        command: cd integration/oqs_openssl && scripts/clone_openssl.sh
    - run:
        name: Build liboqs
        command: source ~/.bashrc && cd integration/oqs_openssl && scripts/build_liboqs.sh
    - run:
        name: Build OpenSSL
        command: cd integration/oqs_openssl && scripts/build_openssl.sh
    - run:
        name: Clone OpenSSH
        command: cd integration/oqs_openssl && ../oqs_openssh/scripts/clone_openssh.sh
    - run:
        name: Build OpenSSH
        command: cd integration/oqs_openssl && ../oqs_openssh/scripts/build_openssh.sh
    #- run:
    #    name: Run unit tests
    #    command: cd integration/oqs_openssl && python3 -m nose --rednose --verbose
    - run:
         name: Build docker image
         command: cd integration/oqs_openssl && scripts/build_docker.sh
    - run:
         name: Push docker image
         command: docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD && docker push $IMAGE-run

jobs:
  ################
  # OPENSSL JOBS #
  ################
  # amd64-buster (Debian 10)
  # liboqs master branch
  ssl-amd64-buster-liboqs-master-openssl-111:
    <<: *openssljob
    environment:
      IMAGE: openqsafe/liboqs-debian-buster
      ARCH: x64
      LIBOQS: master
      OPENSSL: 111
      PREFIX: /opt/oqssl
      LINKTYPE: dynamic
  # x86_64-bionic (Ubuntu 18.04)
  # liboqs master branch
  ssl-x86_64-bionic-liboqs-master-openssl-111:
    <<: *openssljob
    environment:
      IMAGE: openqsafe/liboqs-ubuntu-bionic
      ARCH: x64
      LIBOQS: master
      LINKTYPE: dynamic
      PREFIX: /opt/oqssl
      WITH_OPENSSL: true
      OPENSSL: 111
  # x86_64-centos7 (Centos 7)
  # liboqs master branch
  ssl-x86_64-centos7-liboqs-master-openssl-111:
    <<: *openssljob
    environment:
      IMAGE: openqsafe/liboqs-centos-7
      ARCH: x64
      LIBOQS: master
      LINKTYPE: dynamic
      OPENSSL: 111
      PREFIX: /opt/oqssl
      OPENSSL_DIR: /usr/local/ssl
      
  ################
  # OPENSSH JOBS #
  ################
  # x86_64-xenial (Ubuntu 16.04)
  # liboqs master branch, with OpenSSL enabled for OpenSSH
  ssh-x86_64-xenial-liboqs-master-with-openssl-with-pqauth:
    <<: *opensshjob
    environment:
      IMAGE: dstebila/liboqs:x86_64-xenial-0.0.2
      ARCH: x64
      LIBOQS: master
      WITH_OPENSSL: true
      WITH_PQAUTH: true
  ssh-x86_64-xenial-liboqs-master-with-openssl-no-pqauth:
    <<: *opensshjob
    environment:
      IMAGE: dstebila/liboqs:x86_64-xenial-0.0.2
      ARCH: x64
      LIBOQS: master
      WITH_OPENSSL: true
      WITH_PQAUTH: false
  # x86_64-xenial (Ubuntu 16.04)
  # liboqs master branch, without OpenSSL enabled for OpenSSH
  ssh-x86_64-xenial-liboqs-master-no-openssl-no-pqauth:
    <<: *opensshjob
    environment:
      IMAGE: dstebila/liboqs:x86_64-xenial-0.0.2
      ARCH: x64
      LIBOQS: master
      WITH_OPENSSL: false
      WITH_PQAUTH: false
  # x86_64-xenial (Ubuntu 16.04)

workflows:
  version: 2
  build:
    jobs:
      - ssl-x86_64-bionic-liboqs-master-openssl-111:
          context: openqsafe
      #- ssl-amd64-buster-liboqs-master-openssl-111:
      #    context: openqsafe
      #- ssl-x86_64-centos7-liboqs-master-openssl-111:
      #    context: openqsafe
      #- ssh-x86_64-xenial-liboqs-master-with-openssl-with-pqauth
      #- ssh-x86_64-xenial-liboqs-master-no-openssl-no-pqauth

